.shapes{
    display: flex;
}
.left-shape{
    width: 100px;
    height: 100px;
    border: 10px solid goldenrod;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(45deg);
    margin-right: 35px;
}
.right-shape{
    width: 100px;
    height: 100px;
    border: 10px solid goldenrod;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(225deg);
}